@import "tailwindcss";

body {
  @apply bg-[#f6f8f8];
  font-family: "Lexend", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
